<launch>
  <arg name="mav_name" default="tyrion"/>
  <arg name="world_name" default="basic"/> <!-- JDS ORIGINAL "basic",  "powerplant" -->
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="log_file" default="$(arg mav_name)" />

  <!-- JDS spawning coordinates para tyrion_house z>081275-->
  <!-- JDS spawning global coordinates: 0 0 0.4 to spawn at the corner; 4 0 0 to spawn next to door-->    
  <arg name="x_spawn" value="0" />
  <arg name="y_spawn" value="0" />
  <arg name="z_spawn" value="0.12" /> 
  <arg name="yaw_spawn" value="0" /> 
  
  <!-- JDS static transform change to arg's -->
  <node pkg="tf" type="static_transform_publisher" name="tf_camera_to_link" args="$(arg x_spawn) $(arg y_spawn) $(arg z_spawn) 0 0 $(arg yaw_spawn) /world /start 100"/>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/$(arg world_name).world" />
    <!-- <arg name="debug" value="true"/> -->
    <arg name="paused" value="true"/>
    <!-- <arg name="gui" value="false"/> -->
  </include>

  <group ns="$(arg mav_name)">
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="model" value="$(find rotors_description)/urdf/tyrion_with_t265_d435i.gazebo" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>
     
      <!-- JDS spawning coordinates -->  
      <arg name="x" value="$(arg x_spawn)" />
      <arg name="y" value="$(arg y_spawn)" />
      <arg name="z" value="$(arg z_spawn)"/>
      <arg name="yaw" value="$(arg yaw_spawn)" />

    </include>
    <node name="lee_position_controller_node" pkg="rotors_control" type="lee_position_controller_node" output="screen">
      <rosparam command="load" file="$(find rotors_gazebo)/resource/lee_controller_$(arg mav_name).yaml" />
      <rosparam command="load" file="$(find rotors_gazebo)/resource/$(arg mav_name).yaml" />
      <remap from="odometry" to="odometry_sensor1/odometry" />
      <!--JDS /tyrion/T265_camera/odom/sample; original:= odometry_sensor1/odometry  /-->
    </node>
    <node name="hovering_example" pkg="rotors_gazebo" type="hovering_example" output="screen"/>
    <node name="waypoint_publisher_file" pkg="rotors_gazebo" type="waypoint_publisher_file" output="screen" args="$(find rotors_gazebo)/resource/tyrion_waypoints.txt"/>
     <!-- JDS file has format: wait_time[s] x[m] y[m] z[m] yaw[deg] --> 
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <!-- RViz -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d /home/arob/catkin_ws/src/rotors_simulator/rotors_description/rviz/tyrion_realsense.rviz" />
  </group>
</launch>
